appdirs==1.4.4
argcomplete==1.12.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cmake==3.18.4.post1
cmsis-pack-manager==0.2.10
colorama==0.3.9
cryptography==2.9.2
Deprecated==1.2.11
future==0.18.2
hgapi==1.7.4
idna==2.10
importlib-metadata==3.7.0
intelhex==2.3.0
intervaltree==3.1.0
Jinja2==2.11.3
jsonpointer==1.14
jsonschema==2.6.0
MarkupSafe==1.1.1
mbed-test-wrapper==1.0.0
milksnake==0.1.5
naturalsort==1.5.1
ninja==1.10.0.post2
pathlib==1.0.1
prettytable==2.1.0
project-generator==0.8.17
project-generator-definitions==0.2.42
psutil==5.8.0
pycparser==2.20
pyelftools==0.23
PyGithub==1.54.1
PyJWT==1.7.1
pylink-square==0.8.2
pyocd==0.29.0
pyOpenSSL==19.1.0
pyusb==1.1.1
PyYAML==5.4.1
requests==2.25.1
semantic-version==2.8.5
six==1.15.0
sortedcontainers==2.3.0
typing-extensions==3.7.4.3
urllib3==1.26.3
valinor==1.1.4
wcwidth==0.2.5
wrapt==1.12.1
xmltodict==0.12.0
yotta==0.20.5
zipp==3.4.1
